[2017-12-14 11:08] andruschka opened #2 "How to import nested component"
Hey nice work for creating this plugin!
But I am not able to import a component inside a component...
Getting `Cannot find module './header.svelte'` in the browser console ...

[2017-12-14 11:10] DeMoorJasper commented on #2
Could u upload an example that uses this?
Than i could look into it and fix it

[2017-12-14 11:21] andruschka commented on #2
Hey, yes i have a main.js file (which is imported with a <scrtip> tag in the index.html) and this file imports the App.svelte file and then initializes the App component. The App.svelte looks like this:
[code]
Really basic setup where I just want to import another component inside of the root component

[2017-12-14 11:22] andruschka commented on #2
app.svelte and header.svelte are ofcourse located in the same dir.

[2017-12-14 11:46] DeMoorJasper commented on #2
Tnx for letting me know the exact setup, i'll look into it and see if i can fix it

[2017-12-14 12:07] #2 closed

[2017-12-14 12:08] DeMoorJasper commented on #2
It should be fixed in the new release @andruschka
Thank you for reporting this :)

[2017-12-14 12:10] andruschka commented on #2
cool 👍

[2017-12-14 12:32] DeMoorJasper opened #3 "Run code through babel to support Node 6 and 7"

[2017-12-14 12:35] andruschka commented on #2
So - it is only working with `--no-cache` flag - am I right?

[2017-12-14 12:38] DeMoorJasper commented on #2
Ow no that that was just for testing, you should however remove the old cache and update the plugin.
After that it should work both with and without caching enabled

[2017-12-14 20:59] DeMoorJasper opened #4 "Support .html imports"
Waiting on parcel to add any way to do this without overwriting the default html asset processing, as this would break any html file

[2018-01-07 21:04] naturalethic opened #5 "Support svelte store configuration"
If there is no significant cost to adding the `store: true` option to the Svelte compilation options, perhaps its fine then to always enable it.

[2018-01-07 21:08] DeMoorJasper commented on #5
I'm not aware what store exactly is being used for, i'll probably enable it once i figure out what it exactly does

[2018-01-07 21:33] naturalethic commented on #5
Its the state manager built in to svelte.  https://svelte.technology/guide#state-management

[2018-01-07 22:10] DeMoorJasper commented on #5
It seems like it can’t hurt to enable by default i’ll add it tomorrow

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-08 16:11] DeMoorJasper commented on #5
Should be up in the new version both on npm and this repository 👍

[2018-01-08 16:11] #5 closed

[2018-01-08 18:59] naturalethic commented on #5
Great!

[2018-01-12 09:47] DorianGrey opened #6 "Support svelte.preprocess"
Hi there,

since [V1.44.0](https://github.com/sveltejs/svelte/blob/master/CHANGELOG.md#1440), `svelte` supports a preprocessing step, e.g. to render `scss` if used. The API is documented [here](https://github.com/sveltejs/svelte#preprocessor-options).

Just an example of what this might look like resp. result in:
[code]
(extracted from the `svelte-loader` behavior)
Supporting this would require to

[2018-01-12 13:56] Rich-Harris commented on #6
FYI I've opened a ticket — sveltejs/svelte#1101 — to discuss whether a svelte.config.js file is something that should be 'officially' supported rather than a Parcel-specific thing

[2018-01-13 20:24] DeMoorJasper commented on #6
I'll implement this once the standardized config is in place

[2018-01-20 19:09] jumpinggoofballs opened #7 "Components give errors when first imported"
**parcel-bundler (global), parcel-plugin-svelte (dev), svelte-router (dev**)

I have an example here: [](https://github.com/jumpinggoofballs/parcel-svelte-routing-example)

When I run that as per the description I get this:

If I comment out all the svelte-router stuff then I get similar errors:

However, if I comment all the imports and their references out, then it works.

And **then**, if I add

[2018-01-20 20:51] DeMoorJasper commented on #7
Can u set up some kind of test environment?

[2018-01-20 22:34] jumpinggoofballs commented on #7
Ahh...

Turns out the error was that I had to have parcel-bundler installed as a dev dependency as well as globally.

Apologies for the confusion. Maybe include this in the documentation for the plugin?

Regards.

[2018-01-20 22:34] #7 closed

[2018-01-22 22:23] DeMoorJasper commented on #6
@DorianGrey I implemented it, let me know what you think and if it works as expected https://github.com/DeMoorJasper/parcel-plugin-svelte/commit/4c46de0e11235006aeafb93363202ca7a351f362

[2018-01-23 07:32] DorianGrey commented on #6
Looks good structurally.
I'll see if I can get some spare time to check the master branch in an example.

[2018-01-23 08:18] DorianGrey commented on #6
Here it is:
https://github.com/DorianGrey/svelte-parcel-example

Extremely simple, stripped down to a minimum to illustrate the `preprocess` usage, using `node-sass` in this case.
Works well!

[2018-01-23 09:22] DeMoorJasper commented on #6
Thanks so much for reviewing and setting up an example 👍 I'll push a new released to npm in a few secs

[2018-01-23 09:22] #6 closed

[2018-01-24 10:26] DeMoorJasper opened #8 "Add sourcemaps"

[2018-01-25 11:04] #8 closed

[2018-02-25 15:35] antony opened #10 "Svelte files are not watched"
Not sure if this is specific to this plugin or to parcel as a whole, but if I edit say `main.js`, my files are auto-reloaded and I see the changes immediately in the browser. If I edit a `.svelte` component however, they are not.

Should I be raising this here, or in the main project?

[2018-02-25 15:37] antony commented on #10
Ah ignore this, it's just that the browser doesn't reload after svelte does. Seems like a parcel issue.

[2018-02-25 15:37] #10 closed

[2018-02-25 15:48] DeMoorJasper commented on #10
This probably has to do with how the code is constructed not parcel or parcel-svelte

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-25 21:52] antony commented on #10
You can see a demonstration here: https://github.com/antony/svelte-seed

[2018-02-25 22:02] DeMoorJasper commented on #10
I can't see any reason why that demo wouldn't hot reload, strange issue

[2018-03-08 16:00] acstll commented on #4
Is there any issue opened in parcel-bundler/parcel we could watch?

[2018-03-09 12:22] DeMoorJasper commented on #4
I'm pretty sure there is an issue regarding this.
There is also an issue and PR regarding a plugin architecture rewrite, which will probably improve extendibility soonish. So once either the html fil or new plugin system lands i'll update this plugin

[2018-03-25 21:10] janwillemtulp commented on #10
I am also experiencing the same issue, with the example provided with the `parcel-plugin-svelte` in this repo. I do see that the svelte code is compiled, but the browser does not reload. It does reload when I change html or js files, but not if I change a svelte file.

[2018-03-25 21:15] janwillemtulp commented on #10
ah... noticed that it does reload the browser, but not if you just change the HTML template of a sve;te component. It does reload if you change a script in a component...

[2018-04-18 02:20] 0x13R opened #12 "Compile issue"
Parcel: 1.7.1
Svelte: 1.64.0
### 🎛 Configuration (.babelrc, package.json, cli command)
[https://github.com/0x13R/parcel-plugin-svelte-issue.git](https://github.com/0x13R/parcel-plugin-svelte-issue.git)
### 🤔 Expected Behavior
Compile successfully.
### 😯 Current Behavior
![image](https://user-images.githubusercontent.com/22267707/38908221-7574f564-42e9-11e8-88f4-393037d1a2be.png)

[2018-04-25 18:57] antony commented on #12
Yep I'm getting this error too. I had to roll back to 0.2.1

Btw when you release new versions you aren't creating git tags - might be useful to use `npm version <minor|major|patch>` to get automatic versioning + git tags, so that we can diff the code.

[2018-04-25 19:15] DeMoorJasper commented on #12
I'm pretty sure this is the breaking change, I haven't had time to look into this yet however. 22c761b0faeb8b9ca40f1ea5e17fa79802814360

[2018-05-02 22:59] antony opened #13 "Don't depend on svelte"
Svelte v2 has been released, and the syntax is quite different.

I wonder if it makes more sense to, rather than declare a dependency on svelte, leave it to the end user.

I'm making a huge assumption here that nothing in the plugin binds you to svelte v1, or rather, any specific version of svelte.

Thoughts?

[2018-05-02 23:31] Rich-Harris commented on #13
FWIW neither rollup-plugin-svelte nor svelte-loader depend on Svelte — instead it's a peerDependency: https://github.com/rollup/rollup-plugin-svelte/blob/master/package.json#L48-L50. They used to depend on it directly and it caused havoc!

[2018-05-03 07:52] DeMoorJasper commented on #12
Should be fixed in the new release

[2018-05-03 07:52] #12 closed

[2018-05-03 07:52] #13 closed

[2018-05-03 08:02] antony commented on #12
btw it seems that the current `master` version is `0.2.1` in `package.json` but `npmjs` shows `1.0.0`.

Definitely recommend using `npm version minor|major|patch` as a release strategy to fix this, but just thought you might want to know before you make a new release!

[2018-05-03 08:03] DeMoorJasper commented on #12
@antony That's because I did a reset to before the breaking change, I'll fix that before releasing, tnx for letting me know though

[2018-05-03 08:48] DeMoorJasper commented on #12
V1.1.0 Has been released and should fix this issue, feel free to open a PR with a test case if it isn't fixed

[2018-05-03 08:48] DeMoorJasper commented on #13
V1.1.0 Has been released and should resolve this issue

[2018-05-07 08:27] antony commented on #3
Not worth doing any more since Svelte now demands a modern browser (thus doesn't babelify itself).

[2018-05-07 09:06] antony opened #15 "Doesn't seem to work any more"
# 🐛 Bug Report

## 🎛 Configuration (.svelterc, package.json, cli command)

Upgraded all my projects and none of them work any more, with the error `component Xxx is not a function`

If you simply clone this project and then point parcel at the index.html file, you will notice that you get the same error:

## 💻 Code Sample

[code]

In your browser console:

[code]

## 🌍 Your Environment

This proje

[2018-05-07 09:52] antony commented on #15
@DeMoorJasper doing so as we speak. I think I replicated the problem incorrectly so I'm looking at ways to replicate it properly first.

[2018-05-07 10:17] antony commented on #15
Ok, in trying to recreate this I encountered a different blocking bug which means that I can't progress, so...

https://github.com/antony/parcel-plugin-svelte-bug

It looks like parcel is telling me that my `component.svelte` can't be resolved. However, if you remove the `parcel-plugin-svelte` package using `npm remove --save-dev parcel-plugin-svelte`, the project compiles again, but obviously the

[2018-05-07 10:34] DeMoorJasper commented on #15
@antony I can probably write an adapter for that I’ll reopen untill I’ve had some time to figure this one out

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-07 10:35] antony commented on #15
Ok, I have to reopen this as I'm still encountering it even after switching to `parcel-bundler`. Sorry to be a pain, it seems to be exceptionally hard to track this down.

Here's a working minimal example as a branch of my seed project:

https://github.com/antony/svelte-seed/tree/bug/plugin-svelte

[2018-05-07 11:08] antony commented on #15
Ok I've tracked it down. It feels like this might be a parcel bug or a svelte bug, but I can't replicate it on the svelte repl...

https://github.com/antony/parcel-plugin-svelte-bug

If you use a class name in the 'style' tag of a component which contains a '-', it refuses to compile the component.

In the example above, if you change:

[code]

to
[code]

It compiles the component without issue.

[2018-05-07 11:16] DeMoorJasper commented on #15
Awesome, wondering if this goes up all the way to parcel. It’s probably not really related to the plugin, I’ll def look further into this and open a pr/issue in the project this originates from

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-17 19:28] DeMoorJasper commented on #15
that's strange it works for vue, I'll have a look at it soonish

[2018-05-18 09:58] DeMoorJasper commented on #15
Should be fixed in 1.1.4, this is however a hotfix and I'll create a bug report on the parcel repo and follow it up there.

[2018-05-18 09:58] #15 closed

[2018-05-18 11:01] antony commented on #15
@DeMoorJasper This is excellent - it works brilliantly - you are an absolute legend!

[2018-05-21 02:48] 0x13R opened #18 "Cannot find module './lib/index' (npm package)"
# 🐛 Bug Report
Details: [npm runkit](https://npm.runkit.com/parcel-plugin-svelte) (with node 6)
## 🎛 Configuration (.svelterc, package.json, cli command)

Svelte config, parcel config, command, ...

## 💻 Code Sample

Code sample, example repo

## 🌍 Your Environment

Svelte version, Parcel version

[2018-05-21 07:40] #18 closed

[2018-05-29 22:27] antony opened #20 "<ComponentName> is not a constructor when nesting components"
# 🐛 Bug Report

## 🎛 Configuration (.svelterc, package.json, cli command)

[code]

command:

[code]

## 💻 Code Sample

Seems to reproduce every time I edit any part of the project. The first time I start the parcel process, it compiles, and then making a change or stopping + starting the parcel process, causes the project to stop working, and the following error to be shown in the console:

![prob

[2018-06-05 09:34] DeMoorJasper commented on #20
Is this fixed with v1.2.0, now it supports hot reload properly :)

[2018-06-05 10:17] antony commented on #20
Sounds promising! I'll give it a go.

[2018-06-05 13:44] antony commented on #20
Looks like this works well! Awesome work :tada:

[2018-06-06 19:30] antony commented on #20
It's back :(

Seems to be the first component you `import` somehow gets incorrectly compiled, and breaks the bundle. Even if you never use that component.

[2018-06-06 19:32] DeMoorJasper commented on #20
Could you create a repro?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-06 19:39] antony commented on #20
The same repro from before should produce it - it's hard to say exactly what reproduces it, but once you hit it it's impossible to get rid of, removing `.cache` and `dist` and running build, watch, you name it, and I can't get the project to work again - total killer.

[2018-06-06 19:43] antony commented on #20
I `git pull && npm i` and `npm run start` the project I made above. First you get this error:

https://github.com/parcel-bundler/parcel/issues/1319

So you Ctrl+C and then run `npm run start` again, and then you get this:

![no-clue](https://user-images.githubusercontent.com/218949/41061342-2c9b01fa-69ca-11e8-8d90-d0992157fd7a.png)

As I mentioned before... YMMV with recreating this, but try editi

[2018-06-06 19:48] DeMoorJasper commented on #20
Ow alright I'll look into it as soon as I get some time

[2018-06-10 17:01] RedHatter opened #24 "Cannot resolve dependency"
I can't get this plugin working with parcel. When I build I get `Cannot resolve dependency`.
I've created a sample repository [here](https://github.com/RedHatter/svelte-parcel-example).

[2018-06-10 17:48] RedHatter commented on #24
Haha, well I feel like an idiot. Thanks, for the help.

[2018-06-10 17:48] #24 closed

[2018-06-20 07:01] tivac opened #25 "Path issues on windows"
# 🐛 Bug Report

These lines

https://github.com/DeMoorJasper/parcel-plugin-svelte/blob/c1325baffe160037dedfcd51e94cd6d143d2f83c/src/SvelteAsset.js#L7-L11

output a string with `\` in it on windows, which leads to errors like this from Parcel.

[code]

Note how `node_modules\parcel-plugin\svelte\src\hot-api.js` became `ode_modulesparcel-plugin-sveltesrchot-api.js` because it used window-style slash

[2018-06-20 07:04] DeMoorJasper commented on #25
I'll do a regex replace for backwards slashes, thank you for reporting :)

[2018-06-20 07:41] #25 closed

[2018-09-11 10:12] antony opened #30 "HMR causes component styles to disappear"
# 🐛 Bug Report

HMR works but loses inline styles until you refresh the whole page.

## 🎛 Configuration

See https://github.com/beyonk-adventures/svelte-parcel-hmr-issue

## 💻 Code Sample

See https://github.com/beyonk-adventures/svelte-parcel-hmr-issue

If you `npm i` then `npm run dev` you will see the time, in green, in realtime.

If you then change the component's CSS to 'red' rather than 'gre

[2018-10-25 13:53] EmilTholin opened #31 "Root component gets duplicated when index.js is saved"
# 🐛 Bug Report
The root component gets duplicated when the file where the component is created is saved.

![duplicate_component](https://user-images.githubusercontent.com/11573167/47504974-82a9c880-d86d-11e8-860a-6b0ae29c42a0.gif)

## 🎛 Configuration (.svelterc, package.json, cli command)
Parcel with the `parcel-plugin-svelte` plugin.

[code]

## 💻 Code Sample
Open the [minimal reproducible exampl

[2018-10-25 13:59] #4 closed

[2018-10-25 14:03] DeMoorJasper commented on #31
That kinda makes sense as parcel's hmr just executes the piece of code that got saved. Which is what HMR is.

Pretty sure Svelte has something to prevent this.

cc @ekhaled (Perhaps you know how to fix this, as you commited the HMR functionality)

[2018-10-25 15:41] ekhaled commented on #31
IMHO it's not a `parcel-plugin-svelte` bug.

Svelte's HMR is constrained to svelte components.
It knows how to hot-reload a component only.

If you changed `App.svelte` it works as expected. Because `App.svelte` knows how to handle itself when a hot reload comes in (thanks to `parcel-plugin-svelte`).

`index.js` on the other hand:
 a) is not a svelte component
 b) does not go through `parcel-plugi

[2018-10-25 15:58] EmilTholin commented on #31
Yes, you're right. It's just something you have to keep in mind when using HMR, I suppose. Thank you both for your time.

[2018-10-25 15:58] #31 closed

[2018-11-05 22:55] antony commented on #30
Heya - any progress on figuring out what this is yet? I'd love to start using Parcel again!

If there's anything you need me to do, please let me know how I can help :)

[2018-11-06 08:34] DeMoorJasper commented on #30
@antony I’ve been quite busy lately with other things. Hopefully I can figure this out soonish. This will probably be fixed once parcel 2 is released

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-06 10:33] antony commented on #30
@DeMoorJasper no problems - me too! Looking forward to Parcel 2 :)

[2018-11-16 07:24] RedHatter opened #32 "Can't define config"
I have a `svelte.config.js` in the root of my project but nothing I put in the file seems to have any effect.

    const less = require('svelte-preprocess-less')

    module.exports = {
      preprocess: {
         style: less()
      }
    }

[2018-11-16 07:54] antony commented on #30
@adamhepton This fixes it! Wow! I can't thank you enough!

This needs to be in the docs. I'll open a PR.

[2018-11-16 07:54] #30 closed

[2018-11-17 06:50] DeMoorJasper commented on #32
How does your folder structure look?

[2018-12-11 21:41] stolinski opened #34 "Unable to get working with latest versions"
# 🐛 Bug Report

I'm getting
[code]

## 🎛 Configuration (.svelterc, package.json, cli command)
[code]

When using .html instead of .svelte I'm getting an error about App not being a constructor.

The entire app is basically

main.js
[code]
and

App.svelte
[code]

[2018-12-12 07:02] DeMoorJasper commented on #34
`.html` files are not currently supported as it’s not possible in parcel 1 to have this without completely overwriting the htmlasset

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-12 16:58] stolinski commented on #34
I'm not using .html files, I'm using .svelte files. The error this is posted with is with .svelte.

The comment about .html files was just saying that that's not working as well, didn't know that wasn't supported.

[2019-02-08 08:33] antony commented on #34
@stolinski I have it working well with this version of Svelte: https://github.com/antony/svelte-seed/blob/master/package.json

Looks like there may be another error with your setup?

[2019-02-08 08:38] antony commented on #34
@stolinski Just updated my seed project with the latest version of this plugin and it seems to work fine: https://github.com/antony/svelte-seed

Looking at your example, unless you have an actual `<render>` tag in your html, your `document.querySelector` is wrong. Do you mean `document.querySelector('.render')` instead?

[2019-02-11 10:18] DeMoorJasper commented on #34
I guess this if fixed, closing due to inactivity

[2019-02-11 10:18] #34 closed

[2019-02-15 08:33] antony opened #36 "Svelte v3 support"
# 🙋 Feature Request

## Detailed description

Support the upcoming Svelte v3 syntax!

I've done the initial work here: https://github.com/DeMoorJasper/parcel-plugin-svelte/pull/35 but am encountering an issue.

Placing this github feature request here for tracking purposes.

[2019-02-15 19:04] DeMoorJasper commented on #36
I think I fixed all the issues in #38

[2019-02-15 19:07] DeMoorJasper commented on #36
I've cleaned up this repo a bit and added a working version of your PR here: #38 (I think)
Feel free to review, experiment with it and improve the code :)

[2019-02-18 19:25] DeMoorJasper commented on #36
Published as `2.1.0-alpha-0` gonna follow up any bugs/issues with svelte 3 support here. If it is reported to be stable and Svelte 3 stable version is out I'll release 2.1

[2019-02-19 14:27] antony commented on #36
Heya - awesome effort, tried this out but I'm encountering a few issues:

https://github.com/antony/svelte-seed/tree/feature/svelte-v3

First one is that `store` is no longer an option to the compiler, so I commented that out in the parcel plugin, and then I got `shared` is not an option, so I commented that out.

Now I'm getting an error that `SvelteComponent` can only be instantiated with `new`.

[2019-03-04 21:07] jwhazel opened #41 "Doesn't work with global parcel install"
# 🐛 Bug Report
Hi. Feel free to close this if I'm missing something simple or I'm just misinformed on the scope of this project. But I typically run parcel as a global install. It took me a while to figure out why I couldn't get this plugin to work properly. I finally stumbled across a sample repo and discovered the fact that parcel itself has to be installed locally.

## 💻 Code Sample

https://gi

[2019-03-06 09:45] DeMoorJasper commented on #41
Hey, unfortunately I won’t have the time to look into this. If anyone wants to debug this further feel free to do so. I’m only addressing critical bugs atm as Parcel 2 is getting closer everything and a rewrite of this plugin is gonna happen anyway when this gets out. However this plugin is still being actively developed and a second alpha should come out soon. That hopefully has better support fo

[2019-03-25 19:17] EliSnow commented on #4
This was closed but appears to still be an issue. Is this not fixable?

[2019-03-25 19:36] DeMoorJasper commented on #4
@EliSnow this will be fixed with the rework of this plugin for Parcel 2. So it won't be fixed in this plugin untill than.

[2019-03-25 19:41] EliSnow commented on #4
Ok, I'm glad it's still on the radar. In the meantime...

(I'll preface this by saying I don't know much about parcel plugins and the precedence used when resolving file extensions)

Would it be possible to add support for a `.svelte.html` extension? Perhaps add:

[code]

to [main.js](https://github.com/DeMoorJasper/parcel-plugin-svelte/blob/master/packages/parcel-plugin-svelte/src/main.js)?

[2019-03-25 19:45] DeMoorJasper commented on #4
I'm pretty sure that doesn't work with Parcel atm, will also be fixed with Parcel 2.

[2019-04-21 14:57] orlov-vo commented on #36
@DeMoorJasper svelte 3.0 has released today

[2019-04-23 04:14] MightyRevenge opened #42 "Unrecognized option 'store'"
# 🐛 Bug Report
While trying to compile with Parcel, I get this error for `App.svelte` and I'm unsure what it's referring to...

## 🎛 Configuration (.svelterc, package.json, cli command)

no configuration!

## 💻 Code Sample

I only have 2 files, `main.js`:
[code]

and `App.svelte`:
[code]

`package.json`:
[code]

## 🌍 Your Environment

svelte: ^3.0.0
parcel-bundler: ^1.12.3

[2019-04-23 05:12] DeMoorJasper commented on #42
Svelte 3 is not fully supported yet, the alpha was for the svelte 3 alpha but haven’t had time to update it yet

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-26 07:31] okrad commented on #42
Hi,
I think the problem lies on the fact that the 2.1.0-alpha-0 version (the last published on npm ATM) is not updated with the latest on github. The problem seems to be a "store" property that get passed as a  compiler option:

**Local version in node_modules/parcel-plugin-svelte/src/svelte-asset.js**
[code]

**Github version**

[code]
As a temp patch I modified the code in node_modules/parcel-pl

[2019-04-26 14:32] DeMoorJasper commented on #42
I've just published v3 of this plugin. It might not work.
It's still a beta. Just didn't wanna append it with `-beta-0`

[2019-04-26 14:33] DeMoorJasper commented on #36
Gonna close this as parcel-plugin-svelte v3 has been released. Might have a lot of bugs. Would really like some feedback and potential PRs from whoever uses it

[2019-04-26 14:33] #36 closed

[2019-04-26 14:33] #41 closed

[2019-04-26 14:33] #32 closed

[2019-04-26 19:43] okrad commented on #42
Thank you @DeMoorJasper.
I tried your svelte-3-example: now the application compiles without errors, but then (as you warned) I get this error in the devtools console:
[code]

If I can help you in any way let me know.

[2019-04-26 19:53] leny opened #44 "Class constructor SvelteComponent cannot be invoked without 'new'"
# 🐛 Bug Report

Hi, got some strange error with a basic "Hello world" app.

`Class constructor SvelteComponent cannot be invoked without 'new'`, pointing my app.js

## 🎛 Configuration (.svelterc, package.json, cli command)

Nothing special.

## 💻 Code Sample

Everything's [in the repo](https://github.com/leny/meet-svelte), but the code is quite simple :

[code]

and the app.svelte is:

[code]

##

[2019-04-26 21:48] GeordieP commented on #44
I have the same issue.

Adding the following to `package.json` (as per will [this comment](https://github.com/parcel-bundler/parcel/issues/839#issuecomment-421934717)) get things compiling and displaying on the page:

[code]

However, HMR throws an error (browser console):

[code]

[2019-04-27 14:16] DeMoorJasper commented on #42
@okrad I’m aware of this issue and will try to look into it. If anyone has experience with Svelte compiler or just wants to try to fix this feel free to do so.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-27 14:16] #42 closed

[2019-04-27 14:16] DeMoorJasper commented on #44
I’m aware of this issue and will try to look into it. If anyone has experience with Svelte compiler or just wants to try to fix this feel free to do so.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-29 18:52] trafnar opened #45 "svelte-3-example doesn't work"
# 🐛 Bug Report

The included svelte-3-example directory doesn't work for me. I downloaded it, did `npm install`, then `npm run start` and I get these errors in the browser:

<img width="688" alt="image" src="https://user-images.githubusercontent.com/6732/56919367-3d14c500-6a75-11e9-8187-d3a158994d84.png">

## 🎛 Configuration (.svelterc, package.json, cli command)

I'm not using any custom config.

[2019-04-29 19:16] DeMoorJasper commented on #45
Yes it doesn’t work I didn’t have time to debug it, it’s the same issue that had already been reported. Svelte 2 still works though with v2 release of this plugin.

I’ll try look into this asap but haven’t really used svelte a lot besides writing this plugin and experimenting a lil with it

If anyone wants to debug this feel free to do so

<sub>Sent with <a href="http://githawk.com">GitHawk</a></s

[2019-04-29 19:55] trafnar commented on #45
Ah ok, I wasn't sure if it was expected to work currently.

Totally understand, thanks for your work on this project. I might try to fix it myself if I find time.

[2019-04-30 23:50] Mouvedia commented on #44
Is there a hack/fix that doesn't involve using browserslist?

[2019-05-04 20:27] michaelauderer commented on #45
Duplicate of #44

[2019-05-04 20:36] #45 closed

[2019-05-04 21:11] auderer opened #46 "When calling onMount, afterUpdate, etc. receiving "Uncaught Error: Function called outside component initialization""
# 🐛 Bug Report

When calling lifecycle methods such as `onMount`, `afterUpdate`, etc., I receive the following error and nothing is rendered:
[code]

## 🎛 Configuration (.svelterc, package.json, cli command)

`package.json`:
[code]

## 💻 Code Sample

`App.svelte`:
[code]

`main.js`:
[code]

## 🌍 Your Environment

Svelte: 3.0.0
Parcel: 1.11.0
Parcel Plugin Svelte: 3.0.0

[2019-05-09 08:26] dmitrykurmanov opened #47 "Parcel cache"
# (question)

## Detailed description

In your [example](https://github.com/DeMoorJasper/parcel-plugin-svelte/blob/128ecd1a023ab366d1a65ce69059f4dd75dcaf51/svelte-3/svelte-3-example/package.json#L8) there is `--no-cache` cli parameter.

Is it possible to use the **parcel cache** with the **parcel-plugin-svelte** ?

Thanks for your work!

[2019-05-09 08:58] DeMoorJasper commented on #47
Yes it's possible to use cache with the plugin.

The reason cache is disabled in the example:
The example is sometimes used for testing and plugin changes only invalidate cache if the version number changes which doesn't happen in development.

[2019-05-09 09:01] #47 closed

[2019-05-12 22:57] samuelnovaes commented on #44
I have the same problem

[2019-05-14 21:58] madbrain commented on #44
This problem seems to be related to parcel-bundler/parcel#1037 and the source from `node_modules` packages not being transpiled. Svelte v3 (tested with 3.3.0) contains some ES6 syntax (mostly class declarations).
If I understand correctly all the explanations (which I doubt), the correction has to be made on svelte itself :sad:.

Or as @Mouvedia mentioned, use browserslist in order to get only ES6

[2019-05-15 11:43] DeMoorJasper commented on #44
@madbrain seems like it's the only way. I've tried fixing it in the plugin a little while ago.
Couldn't really figure out a way around this

[2019-05-16 13:27] Mouvedia commented on #44
I don't want to.

@madbrain can you fill it?

[2019-05-16 21:38] madbrain commented on #44
I opened an issue on svelte (sveltejs/svelte#2788).

Hope this would help.

[2019-05-19 14:45] madbrain commented on #44
Well... after some comments on the issue I opened, it seems that `browserslist` should only be used on applications and not library.

So I spent some more hours of debugging and it seems that the problem is coming from Parcel itself: when an external JS asset is transformed to AST, the minimal amount of babel plugins is computed. But when external module contains no information (browserslist, babe

[2019-05-19 14:57] DeMoorJasper commented on #44
@madbrain there has actually been various discussions around libraries needing to explicitly mention their target env as otherwise bundlers have no way of knowing which entrypoint to pick/env to start from. There is unfortunately no standard to this as package.json is not really standardised at all.

There have been some proposals and parcel just tries to figure it out based on all semi-standardis

[2019-05-19 16:53] madbrain commented on #44
Is it the desired behaviour to have no transpilation at all when the external module doesn't provide any hint ?
I got a pending commit (https://github.com/madbrain/parcel/commit/18f9b1f40de9f8e091dd71b03e80c6312c04ec89) which correct this behaviour, but it sounds to obvious to really be what you (parcel maintainers) got on your mind.

[2019-05-19 17:11] DeMoorJasper commented on #44
@madbrain perhaps, imo this would make more sense. but it would slow down Parcel significantly as packages who don't have a browserslist or something similar will all get compiled (and most packages actually do target commonjs, which makes this prob not such a good idea). Which unfortunately is way too many packages. It would be great if tools like babel actually enforced a similar pattern to Parc

[2019-05-19 17:13] DeMoorJasper commented on #44
A link to my original PR on this with a bunch of comments why this isn't a good idea and possible solutions: https://github.com/parcel-bundler/parcel/pull/2073

[2019-05-20 09:54] Mouvedia commented on #44
@DeMoorJasper Bower had [`"moduleType"`](https://github.com/bower/spec/blob/master/json.md#moduletype).

[2019-05-21 21:00] henrikhermansen commented on #46
The issue still exists with the latest versions right now.

I'm out on thin ice here, but I did a little digging. I used a very simple app - all my Svelte file does is call `onMount` with a function that runs `console.log()`
First, take a look at the stack trace
[code]
Wait! Two files named internal, but with different extensions?

Looking at [Svelte REPL](https://svelte.dev/repl) sources (in dev

[2019-05-24 02:55] zastrowm opened #49 "Broken hot reload when using workaround for #44"
# 🐛 Workaround Report for #44

Like issue #44, I got the `Class constructor SvelteComponent cannot be invoked without 'new'` error; applying the workaround mentioned for a modern browser via `browserslist`:

[code]

gets things working in parcel, but as [comment on #44](https://github.com/DeMoorJasper/parcel-plugin-svelte/issues/44#issuecomment-487211932) mentions, it completely breaks HMR.

Looki

[2019-06-01 19:38] Janealter opened #55 "Nested import error: TypeError: "header.$$ is undefined"."
# 🐛 Bug Report

Nested import error: `TypeError: "header.$$ is undefined"`.
Without import app works normally, with import I get this error.

## 🎛 Configuration

[code]
Commands:
`./node_modules/parcel-bundler/bin/cli.js index.html --no-cache`;
`./node_modules/parcel-bundler/bin/cli.js index.html`;
`parcel index.html`;
`parcel index.html --no-cache`

## 💻 Code Sample

*./index.html*
[code]

*./src

[2019-06-29 15:04] Asrover opened #65 "Symbols "<" and ">" in html content return "Expected valid tag name""
# 🐛 Bug Report

## 🎛 Configuration

[code]
Command: parcel watch index.js

## 💻 Code Sample

[code]

## 🌍 Your Environment

Svelte 3.6.1, Parcel 1.12.3

[2019-06-29 15:49] orlov-vo commented on #65
`svelte/compiler` can't to build AST from your code. If you want use this symbols use html escaped equalient:

[code]

[2019-06-29 16:09] orlov-vo commented on #44
I using this temprorary workaround (thx @icopp for [comment](https://github.com/parcel-bundler/parcel/issues/1655#issuecomment-425593377)) for solve the bug:

`package.json`:
[code]

`.browserslistrc.packages`:
[code]

[2019-06-29 16:30] orlov-vo commented on #55
It seems like a bug with proxing of internal field `$$` in [`svelte-dev-helper`](https://github.com/ekhaled/svelte-dev-helper/blob/master/lib/proxy.js).

[2019-06-30 11:06] Asrover commented on #65
Thank you, my mistake.

[2019-06-30 11:06] #65 closed

[2019-07-04 09:27] hectorlf commented on #55
Just in case this helps, as it is not explicitly mentioned. I'm seeing:

TypeError: Cannot read property 'fragment' of undefined
    at Object.c (Hello.svelte:117)

With the most simplest nested component. The thing is that this only happens when using the embedded server, running parcel build generates a correct output.

parcel: 1.12.3
parcel-plugin-svelte: 3.0.1
svelte: 3.6.3

[2019-07-05 18:19] google-mac commented on #55
I'm getting this as well. It's a basic implementation of Svelte with Parcel and this plugin for Svelte. The app works fine until I import a component and I get `TypeError: "counter.$$ is undefined"`.

[2019-07-06 09:40] hibas123 commented on #55
Yes, I get the same error. In my case it also seems that the `svelte-dev-helper `causes that problem.

[2019-07-09 15:46] b12f commented on #55
I'm getting the same issue with Webpack and resolved it after setting `devServer.hot` from `true` to `false`.

[2019-07-09 18:11] orlov-vo commented on #55
yes, it’s problem related with HMR. you can use simple workaround with disabling hot reloading: ‘parcel —no-hmr index.html’

[2019-07-13 15:34] mlabbe commented on #55
I'm getting this as well, and it can be reproduced using exactly the contents of the svelte.dev tutorial:
https://svelte.dev/tutorial/nested-components

[2019-07-18 09:42] henrikhermansen commented on #46
Since Svelte recently separated the files into subdirectories the rimraf trick does no longer work.
Instead, I threw together some javascript you can put in a js-file and run postinstall with node.
`"postinstall": "node clean-svelte.js"`
https://gist.github.com/henrikhermansen/6fb6d9bd132eb1056cae7b712e7bf411
Note that this code uses fs promises, which requires Node v10. Just rewrite it with callb

[2019-07-29 07:03] wenerme commented on #55
But who response to resolve this issues ? `--no-hmr` is a work around, very unfriendly to dev.

[2019-08-04 08:48] samuelgozi commented on #49
A temporary solution would be to turn off HMR entirely by adding the `--no-hmr` flag to the parcel command.
I will add a pull request for a fix later today.

[2019-08-04 11:14] #49 closed

[2019-08-04 11:15] #55 closed

[2019-08-04 11:19] #20 closed

[2019-08-04 21:52] samuelgozi opened #86 "Remove support of svelte preprocessor settings"
# 🙋 Feature Request

## Detailed description
I don't think there is any need to pass options to or run the Svelte preprocessor.
As stated in the official docs for Svelte, it is mainly intended for transpilation, for example of less to css.
But since parcel itself can take care of this kind of stuff, I see no reason for letting svelte do it instead, In addition, it might be counterproductive perfor

[2019-08-07 00:13] silentworks commented on #46
I've tested this on the latest version of this plugin and its all working fine. Please also make sure svelte is installed as a devDependency and not an actual dependency. Svelte itself should never be bundled with your application code.

[2019-08-07 07:20] #46 closed

[2019-08-07 07:43] samuelgozi commented on #86
After doing some research it seems like its not a good idea at this time.
Mainly because if someone wants to write any other "flavor" of js, like for example typescript, the preprocessor would convert it to JS, and then return it to the svelte compiler since it needs the file for compilation.

I'm not very familiar with Parcel's internals, but I don't know a way or letting parcel handle some file(

[2019-08-07 07:43] #86 closed

[2019-08-27 07:34] kokizzu opened #89 "Broken link CHANGELOG.md on README.md"
Broken link CHANGELOG.md on README.md

[2019-09-05 19:40] bdoms opened #91 "Console warnings appear in production but not in dev"
# 🐛 Bug Report

## 🎛 Configuration (.svelterc, package.json, cli command)

With the default config - which should default to `svelte: {dev: false}` according to the docs (https://svelte.dev/docs#svelte_compile) - I am not seeing any `console.warn` calls coming from Svelte in development when it's serving locally via a websocket and hot reload. However, when I run `parcel build` and use the output

[2019-09-05 19:42] DeMoorJasper commented on #91
Ow yes it should be !options.production will update it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-05 19:46] DeMoorJasper commented on #91
Fixed in v4.0.4

[2019-09-05 19:46] #91 closed

[2019-09-05 19:51] bdoms opened #92 "Be able to use different config for development vs production"
# 🙋 Feature Request

## Detailed description

As of version 4.0.3 the compiler options are correctly being sent to svelte. However, I want to run with different config in development vs production. The main use case I have for this is the CSS - I want it to be inline in development (i.e. `css: true`) but output to a separate file when building for production (`css: false`). I can imagine that ther

[2019-09-05 19:54] DeMoorJasper commented on #92
You could use a JavaScript config for this, just be careful with how dynamic you make this as it might mess up caching. `svelte.config.js`

Example:
[code]

[2019-09-05 19:58] DeMoorJasper commented on #89
I removed the changelog a while back. Updated the readme

[2019-09-05 19:58] #89 closed

[2019-09-05 20:06] bdoms commented on #92
That works. Thank you!

I still think some support for the other options might be nice. But at the very least I'd suggest putting something about this in the docs, just to make it more clear and help anyone else who runs across it in the future.

Thanks again for the help and quick response!

[2019-09-05 20:14] DeMoorJasper commented on #92
@bdoms I'll probably add some kind of environment support to the config in the future as `svelte.config.js` isn't really ideal for caching, which I don't wanna ruin for the Parcel 2 version.

Just gotta figure out the exact format I'd wanna use for this new config. I was thinking of something like this, but feel free to comment some ideas in here:
[code]

[2019-09-11 23:39] blairn commented on #44
I can't work out what state this is at, does this mean IE 11 + Svelte + Parcel is right out?

[2019-09-12 07:07] DeMoorJasper commented on #44
@blairn you can use the workaround by @orlov-vo

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-14 10:51] Mouvedia commented on #44
This is not a workaround. It's a hack that may work if you are not supporting certains browsers.

[2019-09-16 01:26] blairn commented on #44
I couldn't make it work. But I think it is more than just this plugin, or svelte, or anything.
I think IE11 support is just a really hard target for anything written in a modern style.

Needless to say, without a better choice, we are moving back to writing code like it is 1999.

[2019-09-16 07:39] samuelgozi commented on #44
This is not an issue specific to this plugin, this is an issue that is caused due to some design decisions made in Parcel. Specifically(as mentioned above) the decision not to transpile packages in the `node_modules` folder.
You can see the issue in their repository here: https://github.com/parcel-bundler/parcel/issues/1037

I'm subscribed to that issue, and to other issues regarding HMR, and will

[2019-11-13 03:19] hmmhmmhm opened #93 "How to apply scss...?"
Has anyone succeeded in applying it?

[2019-11-13 08:55] DeMoorJasper commented on #93
Could you give some code examples or something? There are people who use css with this plugin not sure how scss would/should work. Maybe I can help out or even implement it if it's not already in there.

[2019-11-21 02:36] hmmhmmhm commented on #93
@DeMoorJasper
![스크린샷 2019-11-21 오전 11 34 05](https://user-images.githubusercontent.com/38493722/69299039-e78f4800-0c52-11ea-85c5-23e6bed2af3e.png)

I modified the settings as above, but it doesn't apply at all.

![스크린샷 2019-11-21 오전 11 35 08](https://user-images.githubusercontent.com/38493722/69299099-0ee61500-0c53-11ea-9fbc-b40a2bc11f52.png)

My parcel bundleer settings are as a

[2019-11-21 03:05] hmmhmmhm commented on #93
![스크린샷 2019-11-21 오후 12 02 48](https://user-images.githubusercontent.com/38493722/69300570-ea8c3780-0c56-11ea-8b73-2aa92244d8bd.png)

I'm so sorry. It was my fault,
I applied the above settings to package.json, I didn't felt something wrong.
After clearing the above settings, the settings of svelte.config.js were applied properly.

[2019-11-21 03:05] #93 closed

[2019-12-01 16:44] arxanter opened #95 "Problem with path static files"
# 🐛 Bug Report
Hello, thank you for your work at that plugin. Have some issue with load static files(svg, png and etc.)
After compiling, I get the wrong path .JS and .CSS file
## 🎛 Configuration (.svelterc, package.json, cli command)
.svelterc - empty

package.json:
`"devDependencies": {
    "@babel/cli": "^7.7.0",
    "@babel/core": "^7.7.4",
    "@babel/plugin-transform-runtime": "^7.7.4",
    "

[2019-12-01 19:20] DeMoorJasper commented on #95
This is how parcel works, it adds a hash to the file name for caching, the plugin is not responsible for this.

In Parcel 1 there is not really a reliable way to disabled this. In Parcel 2 there will be namer plugins to enable different naming strategies

[2019-12-01 20:09] arxanter commented on #95
I understand that. But it seems to me that parcel compilation creates files and paths with hash value.
And then svelte compilation rewrites paths, this can be seen in the screenshot with styles.

[2019-12-02 21:59] lucas-hugdahl commented on #44
I really wish there was an option to transpile node_modules. Can Parcel read read node_modules only once and utilize the cache to check if anything has changed? I don't like the idea of assuming all node_modules are already "standard js".

[2019-12-03 02:06] jpray commented on #44
Maybe this has been mentioned before, but babel and typescript both have options to allow transpiling of certain node_modules. If parcel would respect what the app has defined in their babel or typescript config files, then apps would have a better workaround.

example within a tsconfig.json file:
[code]

[2019-12-21 11:56] hmmhmmhm commented on #44
I used parcel and svelte for several months,
during which I developed a more accurate postinstall script to solve this issue.

[code]
Enter the above code into the project main folder to 'postinstall.js'
and add the following script to package.json.

[code]

Now, if you do `npm install`, the browser list is automatically patched at the end.

### CAUTION
Postinstall does not appear to run automatic

[2019-12-21 21:50] JakubKoralewski opened #96 "Does not watch for imported scripts and styles"
# 🐛 Bug Report

Does not update when I change the the `script.ts` or `style.scss` files. Updates them if I also unnecessarily import those files inside the `index.html` file.

## 🎛 Configuration (.svelterc, package.json, cli command)

Windows WSL
cli: `rm -rf dist && parcel src/index.html`

[code]

[code]

[code]

package.json:
[code]

[2019-12-22 19:18] DeMoorJasper commented on #96
This is strange, I'll look into this when I find the time. Maybe tomorrow

[2019-12-22 19:21] DeMoorJasper commented on #95
That shouldn't happen, not entirely sure what is causing this. Hopefully I'll find some time soon to figure this one out

[2019-12-22 21:19] arxanter commented on #95
thank you!

[2019-12-22 23:01] JakubKoralewski commented on #96
I'll try to create a minimal repo when I have the time if you can't reproduce 🤞

[2019-12-25 15:59] JakubKoralewski commented on #96
@DeMoorJasper while initially getting Svelte and Parcel to work I bumped into #44, then followed https://github.com/DeMoorJasper/parcel-plugin-svelte/issues/44#issuecomment-487211932 these instructions and forgot about it. Rebumped into it when creating the example repo.

Seems like a duplicate :/

[2019-12-25 15:59] #96 closed

[2019-12-31 18:08] plmrry commented on #44
If you don't want to use the browserslist solution, I wrote a Parcel plugin that forces a Babel transform on certain JS assets:

**`ForceBabel.js`**
[code]

**`build.js`**
[code]

If you want to use the Parcel CLI instead of the Node API, you can put `ForceBabel.js` in a local directory with a `package.json`, call it `parcel-plugin-force-babel` and run `npm i file:./parcel-plugin-force-babel` .

[2019-12-31 19:23] Mouvedia commented on #44
@plmrry could you create a GitHub repository with a README for this plugin?
This will prevent this very issue from being spammed with questions about the plugins.
Thanks.

[2020-01-09 08:36] iljoo opened #100 "External deps resolution fails"
# 🐛 Bug Report

Seems like Parcel does not bundle Svelte internals correctly for external packages that rely on them. Everything builds correctly, but then I get a clientside error:

[code]
External package in question: https://github.com/pateketrueke/yrv

I think it's a Parcel error because it works fine with Rollup. Per default Parcel grabs `pkg.browser` entry and if that doesn't exist it grabs

[2020-01-13 14:32] mvolkmann opened #103 "changes required to use"
This is a question.

What changes do we need to make in the package.json npm scripts of our Svelte projects in order to use this? Presumably these need to change:

[code]

[2020-01-13 16:25] DeMoorJasper commented on #103
You could have a look at the example: https://github.com/DeMoorJasper/parcel-plugin-svelte/blob/master/packages/svelte-3-example/package.json

You basically need to install the plugin using `yarn add parcel-plugin-svelte -D` (or npm) and than just run parcel like you normally would: https://parceljs.org/getting_started.html (and than it should automatically detect the plugin and run all files with

[2020-01-13 16:38] mvolkmann commented on #103
Here is what I had to do to get this to work with a basic Svelte app:

1. npm install parcel-bundler
2. npm install parcel-plugin-svelte
3. Change the "start" npm script in package.json to "start": "parcel public/index.html --no-cache"
4. npm run build
5. npm start

Do these steps seem correct?
Is it necessary to run "npm run build" again after every code change?

[2020-01-13 19:21] DeMoorJasper commented on #103
@mvolkmann I don't see any reason to run `npm run build` so you can probably leave that out.

Thanks for the detailed steps I'll probably create a more elaborate getting started guide in the readme after this :)

[2020-01-13 19:26] mvolkmann commented on #103
If I don't run `npm run build` and only run `npm start` I get this:

ENOENT: no such file or directory, open '/{project-directory}/public/build/bundle.css'

`npm run build` creates that file.

[2020-01-13 19:28] DeMoorJasper commented on #103
Ow than your build command probably creates some css, what is the script specified in build?

[2020-01-13 19:56] mvolkmann commented on #103
I started with an app created by `npx degit sveltejs/template`, so the "build" npm script is

[code]

The file `public/index.html` includes this line:

[code]
Is there a Parcel way to create `build/bundle.css`?

[2020-01-13 19:59] DeMoorJasper commented on #103
@mvolkmann if that's the css bundled from the svelte you can just remove that line and it should work fine. Parcel automatically injects that nto html ;)

[2020-01-13 19:59] mvolkmann commented on #103
Maybe the answer is that we need a new equivalent of sveltejs/template that is specific to using Parcel.

[2020-01-13 20:04] mvolkmann commented on #103
The more I think about this, I'm convinced that we really need a way to create a new app that uses Parcel by running `npx degit some-repo/some-template app-name` like we have for using Rollup or Webpack. That would put Parcel on even ground with those so it's no harder to use.

[2020-01-13 20:10] DeMoorJasper commented on #103
@mvolkmann the goal of parcel is kind of that tools like that are no longer necessary but it would definitely be cool to have it support parcel

[2020-01-13 20:20] mvolkmann commented on #103
Yeah, I'm just thinking that if there's a single command to spin up a
Svelte app using Rollup or Webpack (using "npx degit") but not for Parcel,
it might hurt adoption of using Parcel with Svelte. You've documented the
steps well on your site, but it currently requires more work than the
Rollup/Webpack approaches. I'm referring to needing to manually create the
initial versions of the index.html,

[2020-01-13 20:25] DeMoorJasper commented on #103
@mvolkmann yeah I totally agree, I'm happy to help implement these things once parcel 2 reaches a stable point

[2020-01-13 20:28] mvolkmann commented on #103
Sounds good! I'd be happy to help also. Let me know later if you want me to pitch in. You can close this issue now if you'd like ... or keep it open as a reminder.

[2020-02-17 20:11] cdock1029 commented on #6
Link to example is broken.. any resource to see how this works?

[2020-02-20 19:11] mylastore opened #120 "Not reading built in node modules example (fs)"
Node ver 10.16.3
Svelte ver 13.17.1
parcel-plugin-svelte ver 4.0.5

[code]
I get this error
[code]

[2020-02-20 19:33] #120 closed

[2020-02-28 10:06] iljoo commented on #100
Closing as this seems to be resolved somehow somewhere in the dependency chain :upside_down_face:

[2020-02-28 10:06] #100 closed

[2020-03-09 22:08] tcrowe commented on #44
This might be caused by the way babel transforms the svelte output.

For example one of my components outputs this text in the class definition.

[code]

Babel and webpack turn it into this gobbledegook where this function `_classCallCheck` `throw`s that error.

[code]

So, I made a babel config containing some customizations for `@babel/preset-env`. `npm install core-js` and `useBuiltIns` are pro

[2020-03-11 21:05] wcjr opened #131 "I was noticing huge bundle sizes for my app until I used --experimental-scope-hoisting"
# 🙋 Feature Request

I'm hoping a reference could be made somewhere in the docs to the possibility of seeing larger bundle sizes than one might've noticed using a rollup config.  Or I suppose there's a possibility @DeMoorJasper  might know why bundle sizes might be getting larger with a parcel approach than the rollup approach.  Either way, I'm grateful for this plugin and expect more and more peo

[2020-03-11 21:07] wcjr commented on #131
I'm working in https://github.com/silinternational/wecarry-ui/tree/move-to-parcel if anyone is interested in the build config.

[2020-03-11 21:35] DeMoorJasper commented on #131
Scope Hoisting should fix this slightly but 3x smaller bundles seems a bit extreme. Maybe something's done wrong in this plugin, Svelte or in your codebase that relies too heavily on scope hoisting.

If scope-hoisting fixes it that's the way to do it, as that;s the default in rollup

[2020-03-11 23:55] wcjr commented on #131
**For reference**

with `--experimental-scope-hoisting`:

[code]

without `--experimental-scope-hoisting`:
[code]

I'm not sure where the culprit is but if there's something obvious you see in our project that's not being done correctly, I'd appreciate the feedback, thank you!

[2020-03-12 15:46] DeMoorJasper commented on #131
@wcjr I guess svelte relies on scop-hoisting pretty heavily, can't seem to think of any other reason based on your code. Scope-hoisting is just another form of minification that's why it's smaller it's just a surprisingly big difference but as long as the code works it should be fine. Svelte is probably also built to utilise scope-hoisting to it's full extend. (as rollup which kind of invented sco

[2020-03-12 16:43] wcjr commented on #131
Thanks, yeah Rich would know best how to utilize the two together for sure!  I'm thinking some mention of this possible issue with bundles sizes might be valuable in the docs...it would've helped me, I feel like I got sort of lucky to stumble across the flag.

[2020-03-12 17:43] DeMoorJasper commented on #131
It should probably be here: https://parceljs.org/production.html#optimisations but it's experimental so we didn't really wanna push people to using it yet. We'll definitely push people to use it in Parcel 2, as it will be opt out.

The docs for that will be out soonish

[2020-03-12 17:43] #131 closed

[2020-03-29 18:28] Slowwie commented on #65
But what if the values comes from my api and the user inserted it. I can not want my users to use &lt;, and &gt; for every text input. Is there a solution for this?

[2020-03-29 21:38] antony commented on #65
@Slowwie you absolutely under all conditions need to sanitise html that is provided by your users. This isn't specific to parcel or svelte, it's a critically important rule for any website.

When a user adds html to your site, and you expect to render that html later, you need to parse, remove script tags, fix broken html, and escape special characters. Otherwise you are opening up your users to a

[2020-04-25 14:53] pfazzino opened #137 "HMR - Component Duplicated on Reload"
Just started testing Parcel using Svelte. Wanted to use HMR so added

`if (module.hot) {
  module.hot.accept()
}`

to main.js (doesn't matter where I add this) but got the same symptoms as that reported in #31 with output being appended on save. It's not just when editing the main.js though, any save on the svelte component causes the output to be appended.

See example - https://github.com/pfazzi

[2020-05-01 02:35] jsonkao opened #138 "Parcel/Svelte: styles are duplicated"
# 🐛 Bug Report

Styles are being duplicated. In a Svelte component like…

[code]

…DevTools shows these styles:
![image](https://user-images.githubusercontent.com/15334952/80777320-ccdeca80-8b32-11ea-807f-4f32ea0be867.png)

Seems to be related to sveltejs/sapper#1127.

## 🎛 Configuration (.svelterc, package.json, cli command)

package.json:
[code]

No extra configuration in Svelte rendering.

## 💻

[2020-05-01 07:18] mathiasrw opened #139 "Parcel 2"
# 🙋 Feature Request

## Detailed description

Would be so lovely to support parcel v2. Its can be used by installing the module parcel@next instead of parcel-bundler

## Similar to an existing solution?

Should work the same way as now (great)

## Possible work-around?

Well... if we downgrade parcel to 1.x it works.

## Related to a problem?

When I copy all the example code from the readme  but

[2020-05-01 09:13] DeMoorJasper commented on #139
There's a Parcel 2 version already. see https://github.com/orlov-vo/parcel-transformer-svelte

I haven't made it not maintain it and cannot guarantee it'll work at all.
I originally wanted to make it but the name has been taken by this package so hopefully it works 🤷‍♂️

[2020-05-01 12:19] #139 closed

[2020-05-02 05:48] mathiasrw commented on #139
@DeMoorJasper I know its sad with the generic svelte transformer plugin name being taken - but if there is any way you feel like taking up the challenge I 100% sure it would storm into the commnity with a plugin named something like `parcel-transformer-svelte-ts` or `parcel-transformer-svelte-plus` that supports parcel 2 and lets you have typescript `<script lang="ts">` and scss `<script lang="scs

[2020-05-08 19:32] ronthecookie commented on #95
@DeMoorJasper any update on this? I'm experiencing the same issue

[2020-05-08 19:34] DeMoorJasper commented on #95
Not really I couldn’t reproduce it so a reproducible minimal example would help

[2020-05-10 06:42] ronthecookie commented on #95
Okay I made an [example](https://github.com/ronthecookie/parcel-plugin-svelte-95).

[2020-05-10 08:09] DeMoorJasper commented on #95
@ronthecookie I've had a look at your example and it's definitely not a thing that should happen. Just realised I did not add any preprocessors for processing the html. This is a change that happened in the API of svelte whereas Parcel can no longer really support this.

I've updated the example with a workaround for this 9c57a7873c3666dc88e5e34e5bcbf065d32f587d

[2020-05-14 07:48] ronthecookie commented on #95
@DeMoorJasper For some reason I didn't get notified by Github but I seem to have found my way and I ran the example but no luck:
[code]

[2020-05-14 07:50] DeMoorJasper commented on #95
@ronthecookie not sure why that happens, the example should work... I've tested it

[2020-05-14 07:56] ronthecookie commented on #95
@DeMoorJasper maybe you have an extra package installed that isn't in the example's `package.json`?

[2020-05-21 16:59] Mouvedia commented on #44
What's the status of this issue ?
It's a **blocker** for me. I cannot use my .browserslistrc hence **I cannot use parcel and svelte**.

[2020-05-21 17:05] hmmhmmhm commented on #44
@Mouvedia May be you can try this, https://github.com/hmmhmmhm/svelte-template

[2020-05-21 18:09] Mouvedia commented on #44
That may help someone else, thanks.
I need sass/parcel/svelte/babel/eslint, no typescript.

[2020-05-21 18:45] edm00se commented on #44
@Mouvedia [I have a starter](https://github.com/edm00se/svelte3-parcel-starter) that might suit your needs. No ts, but modern js transpilation, parcel, svelt 3, sass support in both global import and svelte components. It also has jest for testing.

[2020-05-22 16:42] rondonjon commented on #138
The duplication is not the only problem.

I have tried to use CSS background images in this [Svelte/Parcel template](https://github.com/dafn/svelte-typescript-parcel/issues/5) and couldn't get them to work.

It seems that the image files are copied to the dist folder, but their paths are broken; surprisingly only in *one* of the style copies, and unfortunately in the copy that takes precedence.

!

[2020-05-22 16:49] antony commented on #138
This happened in the official Sapper build for a while, and a really random library upgrade stopped it happening. Might be related.

[2020-05-25 01:24] petercr opened #140 "Project will not run without installing Svelte as a dependency"
# 🐛 Bug Report
When I go to run the project after installing all the dev dependencies, and creating all the files from the `README.MD` when I go to run the project with Yarn here is the error I get.

[code]

## 🎛 Configuration (.svelterc, package.json, cli command)
Here's my `package.json` file with its settings. The other files `index.html` and `main.js` are just copied from the README file.

[co

[2020-05-25 07:06] #140 closed

[2020-05-25 14:22] rondonjon opened #142 "Support for Parcel v2?"
# 🙋 Feature Request

## Detailed description

Will this plugin support Parcel v2 anytime soon?

The README contains no details about the compatible Parcel versions; I suppose that it is currently targeting Parcel v1 only, as I am getting errors when trying to build .svelte files with Parcel v2?

[2020-05-25 15:27] DeMoorJasper commented on #142
This plugin is for parcel 1, there's a parcel 2 version already https://yarnpkg.com/package/parcel-transformer-svelte

Not entirely sure how reliable this transformer is. Might add one to the parcel monorepo at some point if it appears to be unreliable as Svelte seems like it's starting to get pretty common

[2020-05-26 00:04] rondonjon commented on #142
Thanks for the link @DeMoorJasper :+1:

As a quick follow-up, maybe also for other readers:

I have added the transformer to a Parcel v2 setup, but there seems to be a conflict with the latest Parcel v2 version (source map format has changed).

There seem to be two other transformers with similar names and the same goal:

 * https://www.npmjs.com/package/parcel-transformer-sveltejs
 * https://gith

[2020-05-26 06:56] DeMoorJasper commented on #142
@rondonjon thanks for looking into it so there's 3 svelte plugins that are all broken, well that's not good, that pretty much takes away all possible plugin names except scoped ones.

Currently I'm pretty focused on getting Parcel 2 to beta and stable like the rest of the parcel team but once I have more time on the side I might look into porting svelte to Parcel 2 and perhaps even make it an offi

[2020-05-29 01:10] alanferreiradasilva commented on #95
I am using svelte with parcel and I don't get load local images. To resolve this problem I found this solution in parcel documentation: https://en.parceljs.org/javascript.html

![svelte-parcel-load-local-image](https://user-images.githubusercontent.com/3091682/83209735-60ee8280-a12f-11ea-994f-207327820eef.JPG)

![parcel-doc](https://user-images.githubusercontent.com/3091682/83209879-c2165600-a12f-

[2020-06-06 08:27] excalibur1987 commented on #6
@cdock1029

The following worked for me.

You need to install a svelte pre-processor plugin to process sass, I used the following plugin

[svelte-preprocess-sass](https://www.npmjs.com/package/svelte-preprocess-sass)

Add a file with the name `svelte.config.js` to your project root, with the following content to enable sass pre-processing.

[code]

If you want to use it just add `type="text/sass"`

[2020-06-13 12:40] benhormann commented on #137
[code]
Credit: figured this out from rixo's templates <https://github.com/rixo/svelte-hmr>.

[2020-06-20 09:26] pfazzino commented on #137
Yup good fix. This isn't full hmr as state isn't preserved between reloads but it's still a valuable feature. Is the lack of state preservation a limitation of svelte itself until hmr is officially supported https://github.com/sveltejs/svelte/issues/3632

[2020-06-23 17:24] soanvig commented on #95
I can confirm the exact same behavior.

[2020-06-23 17:31] soanvig commented on #95
What I can see is that one copy of CSS is inline, and the second part is in CSS file.

[2020-06-23 17:43] soanvig commented on #95
My workaround for now, in root component:

[code]

[2020-06-27 16:22] benhormann commented on #137
Kinda, rixo has got hmr working well enough in webpack / rollup, and even experimenting with snowpack.

Stores are preserved even though component state isn't.

[2020-07-23 12:16] remast opened #144 "Example for using Typescript with parcel-plugin-svelte?"
Hi,

I tried to use Typescript in my Svelte project thats based on the parcel plugin for svelte. Yet I could not figure out how I have to configure the preprocessing for Typescript. Does anyone have a working example for me?

Thanks  a lot,
Jan

[2020-07-27 08:43] surajbarkale commented on #144
I installed `svelte-preprocess` and added following `svelte.config.js` to get typescript support working:
[code]
It would be good to have auto detection for `svelte-preprocess` if possible.

[2020-08-10 09:07] remast commented on #144
Thanks, I got it working!

[2020-08-10 09:07] #144 closed

[2020-08-24 12:31] cupcakearmy opened #146 "Resolve tilde paths"
# 🐛 Bug Report

Resolve tilde paths according to https://parceljs.org/module_resolution.html#~-tilde-paths

## 🎛 Configuration (.svelterc, package.json, cli command)

No `.svelterc`

[code]

Svelte config, parcel config, command, ...

## 💻 Code Sample

Code sample, example repo

## 🌍 Your Environment

Svelte version, Parcel version

[2020-09-19 17:47] canadaduane commented on #138
Possibly related? https://github.com/parcel-bundler/parcel/issues/2592

[2020-09-19 23:09] canadaduane commented on #138
I think I have a solution for this in the Parcel2 transformer that may apply here also (see https://github.com/orlov-vo/parcel-transformer-svelte/issues/8)

[2020-09-20 05:34] canadaduane commented on #142
FWIW, I  spent some time trying to get other parcel 2 transformers for Svelte working:

- `parcel-transformer-svelte`: Incorrectly uses `async getConfig` (should be `async loadConfig` AFAICT); duplicate CSS issues; HMR not working correctly
- `parcel-transformer-sveltejs`: Copy of parcel-transformer-svelte; published on NPM; the github repository has been deleted
- `parcel-transformer-svelte3`: Re

[2020-09-20 10:51] #138 closed

[2020-09-20 14:12] canadaduane opened #149 "Syntax error doesn't tell Svelte how to indicate line number"
# 🐛 Bug Report

When I have a syntax error in a svelte file, the error message does not indicate which line to look at.

For example, in the script section of a svelte file, I began a "$:" line, but didn't finish it (leave it dangling, with no statement following the "$:"). This is a syntax error. I received the following error message when compiling:

[code]

See https://github.com/sveltejs/svelt

[2020-10-05 18:55] canadaduane commented on #142
I made a PR to https://github.com/orlov-vo/parcel-transformer-svelte and it was accepted. Looks like it is being maintained.

[2020-10-05 19:19] DeMoorJasper commented on #142
in that case I can close this...

[2020-10-05 19:19] #142 closed

[2020-10-07 23:17] canadaduane commented on #95
I believe this issue is resolved with the most recent commit (PR) that was merged in:

https://github.com/DeMoorJasper/parcel-plugin-svelte/commit/e14cf22d115d5d3494c9e7e812cf349cfd00d5ec

[2020-10-07 23:25] canadaduane opened #150 "Duplicate svelte/internals leads to various errors"
# 🐛 Bug Report

This is a bit difficult to track down, so let me outline a few pieces to the puzzle.

First, the error I'm getting is
[code]

This appears to be the same issue as reported [here](https://github.com/sveltejs/svelte/issues/3165#issuecomment-549070817) and [here](https://github.com/sveltejs/svelte/issues/3964).

Like the other issues reported above, I'm importing a svelte component fr

[2020-10-12 15:33] cupcakearmy commented on #150
Yes, I'm having the same the problem

[2020-11-10 16:27] fregante opened #152 "Build silently failing (ERR_PACKAGE_PATH_NOT_EXPORTED)"
# 🐛 Bug Report

The bug specifically is in https://github.com/sveltejs/svelte/issues/5659, which is not due to this plugin, but `parcel build` failed without changing the exit code, so a broken built file was deployed.

I don't know if this is a problem with Parcel not setting the exit code or this plugin reporting it as a warning.

## 🎛 Configuration (.svelterc, package.json, cli command)

[code]

[2020-11-10 22:01] jojonas commented on #152
Changing the imports to `const { compile, preprocess } = require('svelte/compiler');` appears to resolve the issue. However, I don't know if the import will work for older Svelte versions too.

[2020-11-21 17:07] Milesq opened #153 "This plugin doesn't work since Svelte 3.29.5"
# 🐛 Bug Report

## 🌍 Environment
Svelte 23.29.5 or higher, the latest version of parcel-bundler

[2020-11-21 17:09] Milesq commented on #153
`$ parcel build src/index.html
‼  Parser "parcel-plugin-svelte\lib\svelte-asset.js" failed to initialize when processing asset "src\App.svelte". Threw the following error:
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './compiler.js' is not defined by "exports" in (...)\node_modules\svelte\package.json`

[2020-11-21 18:43] Milesq commented on #153
I didn't read the mistake very well so it took me more time. The package.json of the Svelte library contains the "exports" key which doesn't allow importing files other than those listed inside. Svelte devs allowed us to import things from the compiler file, but we must reference it with `svelte/compiler` instead of `svelte/compiler.js`

[2020-11-21 19:34] DeMoorJasper commented on #153
Released in 4.0.8

[2020-11-21 19:34] #153 closed

[2020-11-24 11:11] loristewis commented on #152
Hey there,
I'm having the same issue with [my project](https://github.com/loristewis/gob_fork-work).
@jojonas could you expand on how to fix this? Where should I add `const { compile, preprocess } = require('svelte/compiler');`?
Thanks!

[2020-11-25 18:25] jojonas commented on #152
@loristewis See this commit: https://github.com/DeMoorJasper/parcel-plugin-svelte/commit/bd8207ccea11ad2a367f5318f0818eba674c9d3b and #153

[2020-11-27 13:23] AxelRHD opened #155 "Minimal example does not work"
# 🐛 Bug Report

Trying to start dev server or bundle will run into following error:

[code]

## 🎛 Configuration (.svelterc, package.json, cli command)

package.json:
[code]

## 💻 Code Sample

index.html
[code]

main.js
[code]

App.svelte
[code]

## 🌍 Your Environment

Svelte version: 3.3.0
Parcel version: 1.12.4

Node version: 14.15.1
npm version: 6.14.8

[2020-12-10 16:21] Existenziell commented on #155
I run into exactly the same issue.
I also tried with Svelte v3.31.0

This bug was fixed in Rollup, now Parcel? :)

[2020-12-15 14:33] abau commented on #155
Using
[code]
fixed it for me (cf. [here](https://github.com/DeMoorJasper/parcel-plugin-svelte/issues/153#issuecomment-731625978)).

[2021-01-09 20:16] fregante commented on #153
Can you publish 4.0.8? npm Still has 4.0.6

[2021-01-12 21:49] bdoms opened #158 "CSS Compiler Option Can Never Be Set to `true`"
# 🐛 Bug Report

## 🎛 Configuration (.svelterc, package.json, cli command)

I have different config options for active development vs bundling for production in a `svelte.config.js` file that looks like this:

[code]

Everything was working fine until I upgraded parcel-plugin-svelte to version 4.0.8. Now, the the `css` option never gets set to `true` anywhere. This means that my ability to run a ho

[2021-01-14 18:13] bdoms commented on #158
I did some more research, and it's worth noting that the other project that got the same report and pull request - https://github.com/orlov-vo/parcel-transformer-svelte - did not end up merging the commit that hard codes `css: false`. I'd say that's further evidence it's not a good idea.

[2021-02-03 14:12] emirotin commented on #153
That's true, it can be installed directly but the tag is not moved so this version is not picked automatically by the install/upgrade command

[2021-02-24 22:37] NikosEfthias opened #159 "App_svelte_1.default is not a constructor"
# 🐛 Bug Report
Seems this plugin no longer works when I try to run my app i get `App_svelte_1.default is not a constructor` on the browser and nothing happens

## 💻 Code Sample

[code]
[code]
[code]
## 🌍 Your Environment

[code]

[2021-02-24 23:36] NikosEfthias commented on #159
seems too much to be done switched to default rollup setup

[2021-02-24 23:36] #159 closed

[2021-04-11 07:36] joanrieu commented on #153
Please publish it, it still isn't picked up by default on npm to this day.

[2021-06-07 02:08] NikosEfthias commented on #152
is this plugin completely broken? since there are no updates for nearly a year ?

[2021-06-07 07:55] DeMoorJasper commented on #152
@NikosEfthias there hasn't been any new issues reported so there's no new releases...

There's also a Parcel 2 plugin now, so this plugin will probably get deprecated once Parcel 2 reaches stable...

[2021-08-11 19:39] XAMPPRocky opened #168 "Publish 4.0.8 as latest on NPM"
https://github.com/DeMoorJasper/parcel-plugin-svelte/issues/153 is still an issue if you use `npm install`, which makes it quite frustrating experience as a first time user as I couldn't figure out what was wrong with the fresh setup.

[2021-08-11 19:45] DeMoorJasper commented on #168
Oh my release script appears to be incorrect, will fix this tomorrow and release a new version, sorry for any inconvenience and thanks for letting me know. For now you can try the next tag or explicitly set the version in pkg.json

[2021-08-12 09:14] #168 closed

[2022-01-05 01:07] Mouvedia commented on #44
Was it finally fixed by parcel-bundler/parcel#7399?